@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

@media (max-width: 800px) {
    #flexBar {
      flex-direction: column;
    }

    .main {
        flex-direction: column-reverse;
    }

    #navBar {
        padding-left: 1%;
        display: none;
    }
    
    .navItem{
        display: none;
    }

    #sideImg {
        display: none;
    }
  }


a {
    text-decoration: none;
    color: #645e6b;
}



a:hover {
    color: #868f97;
}

#aboutText {
    flex: 60%;
    padding-left: 20px;
    padding-right: 1%;
    margin: auto;
}

#aboutText h1 {
    font-size: 3em;
    color: #cb503c;
}

#aboutText p {
    font-size: 1.75em;
}

body {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

#flexBar {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
}

.footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #66ddaa;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.footLeft{
    display: flex;
    flex: 50%;
    flex-direction: row;
    text-align: start;
    padding-left: 1%;
}

.footLeft i {
    font-size: 1.5em;
    color: white;
}

.footLeft p {
    padding-left: 1%;
}

.footRight{
    flex: 50%;
    flex-direction: row;
    text-align: end;
    padding-right: 1%;
}

.footRight p {
    padding-right: 1%;
    padding-top: 1.1%;
    font-size: 1.25em;
}

h1 {
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
}

#nameBar {
    /*background-color: #f1f1f1;*/
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1%;
    flex: 50%;
    text-align: left;
}

#nameBar > a {
    text-decoration: none;
    color: black;
}

#navBar {
    /*background-color: dodgerblue;*/
    padding: 10px;
    flex: 50%;
    text-align: right;
    display: flex;
    align-items: center;
    font-size: 0.75em;
}

.navItem {
    margin: 0 auto;
    text-align: right;
    color: #645e6b;
}

p{
    font-size: 1.5em;
}

#profileImg {
    flex: 40%;
    padding-top: 7.5%;
    margin: auto;
    width: 400px;
    height: 600px;
}

.selected {
    color: white;
}

.selected:hover {
    color: white;
}

#sideImg {
    flex: 40%;
    padding: 20px;
    text-align: center; 
}

strong {
    background-color: #66ddaa;
    color: white;
}