@charset "UTF-8";

/*roboto font from Google, icons from https://fontawesome.com/*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/*global rules*/
/*remember Ethan: padding is TRBL*/

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* color variables */
:root {
    --linkGray: #645e6b;
    --hoverGray: #868f97;
    --blue: #2AA5A8;
    --orange: #F0654C;
}

body {
    margin: auto;
}

#nameBar > a {
    text-decoration: none;
    color: #000000;
}

nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    padding-bottom: 2%;
    padding-right: 10px;
    padding-top: 10px;
}


strong {
    color: #ffffff;
    background-color: var(--orange);
}

@media (min-width: 800px) {

    *{
        transition: background-color 0.5s;
    }

    #about {
        display: flex;
        width: 100%;
    }

    #aboutSection {
        display: flex;
        font-family: 'Roboto', sans-serif;
    }

    #aboutSection aside {
        flex: 33%;
        padding-right: 1%;
    }

    #aboutSection article {
        font-size: 1.5em;
        align-self: top;
    }

    #aboutSection h1 {
        color: var(--orange);
    }

    #aboutSection img {
        width: 375px;
    }

    footer {
        position: fixed;
        display: flex;
        width: 100%;
        background-color: var(--orange);
        bottom: 0pt;
        left: 0pt;
        font-family: 'Roboto', sans-serif;
    }

    #footLeft {
        flex: 50%;
        display: inline-flex;
        align-items: center;
        padding-left: 1%;
    }

    #footLeft p {
        padding-right: 10px;
        font-size: 2em;
        margin: 0;
    }

    #footLeft a {
        text-decoration: none;
        color: #ffffff;
    }

    #footRight {
        flex: 50%;
        display: inline-flex;
        justify-content: right;
        align-items: center;
        padding-right: 1%;
        color: #ffffff;
        font-size: 1.33em;
    }

    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    h2 {
        margin: 0 auto;
        font-size: 0.75em;
        font-weight: normal;
        text-align: right;
    }

    h1 {
        font-size: 2em;
        font-family: 'Roboto', sans-serif;
        margin: 0%;
    }

    h2:first-of-type {
        position: absolute;
        right: 250px;
        top: 22px;
    }

    h2:last-of-type {
        position: absolute;
        right: 1%;
        top: 22px;
    }

    #hello {
        margin-top: 0%;
        font-size: 2em;
        color: var(--orange);
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 80px;
        height: 40px;
        background: var(--linkGray);
        display: block;
        border-radius: 100px;
        position: absolute;
        top: 20px;
        right: 150px;
    }

    label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 30px;
        height: 30px;
        background: #ffffff;
        border-radius: 20px;
        transition: 0.3s;
    }

    input:checked + label {
        background: var(--blue);
    }

    input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }

    main {
        padding-left: 1%;
        padding-right: 1%;
    }

    #aboutSection main {
        visibility: visible;
    }

    #nameBar {
        /*background-color: #f1f1f1;*/
        padding-left: 1%;
        flex: 50%;
        text-align: left;
    }

    nav {
        display: flex;
    }

    p {
        font-size: 1.25em;
    }

    #portfolioPage {
        display: none;
        font-family: 'Roboto', sans-serif;
    }

    #portfolioPage h1{
        font-size: 3em;
        text-align: center;
        width: 100%;
        color: var(--blue);
    }

    #portfolioPage main {
        display: none;
    }

    #resumeSection {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        width: 100%;
        font-family: 'Roboto', sans-serif;
    }

    #resumeSection h3 {
        margin: 0 auto;
        font-size: 2em;
    }

    #headBlock {
        text-align: center;
        font-size: 3em;
        color: var(--orange);
    }

    .blockContent {
        display: block;
        margin: auto;
    }

    #blockOne {
        display: grid;
        grid-template-rows: repeat(2 , 1fr);
        align-items: center;
        justify-content: center;
        grid-column: 1;
        grid-row: 2;
        margin: 0 10px 0 10px;
        border-radius: 10px;
        background-color: var(--orange);
        color: #ffffff;
    }

    #blockTwo {
        display: grid;
        grid-template-rows: repeat(2 , 1fr);
        justify-content: center;
        grid-column: 2;
        grid-row: 2;
        margin: 0 10px 0 10px;
        border-radius: 10px;
        background-color: var(--orange);
        color: #ffffff;
    }

    #blockThree {
        display: grid;
        grid-template-rows: repeat(2 , 1fr);
        justify-content: center;
        grid-column: 3;
        grid-row: 2;
        margin: 0 10px 0 10px;
        border-radius: 10px;
        background-color: var(--orange);
        color: #ffffff;
    }


    #switchBar {
        flex: 50%;
        transition: background-color 0.5s;
    }
}

@media (max-width: 800px) {
    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: collapse;
    }
}