/*roboto font from Google, icons from https://fontawesome.com/*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/*mobile width rules*/
@media (max-width: 800px) {

    .main {
        flex-direction: column-reverse;
    }

    nav #nameBar > a {    
        padding-left: 5%;
    }

    nav #navMenu {
        display: block;
        visibility: visible;
        padding: 3%;
        color: #645e6b;
    }

    .navItem{
        display: none;
    }

    #sideImg {
        display: none;
    }

    .footer {
        display: none;
        visibility: hidden;
    }
  }

/*global rules*/
a {
    text-decoration: none;
    color: #645e6b;
}

a:hover {
    color: #868f97;
}

#aboutText {
    flex: 60%;
    padding-left: 20px;
    padding-right: 1%;
    margin: auto;
}

#aboutText p {
    font-size: 1.75em;
}

body {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #66ddaa;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.footLeft {
    display: flex;
    flex: 50%;
    flex-direction: row;
    text-align: start;
    padding-left: 1%;
}

.footLeft i {
    font-size: 1.5em;
    color: white;
}

.footLeft p {
    padding-left: 1%;
}

.footRight {
    flex: 50%;
    flex-direction: row;
    text-align: end;
    padding-right: 1%;
}

.footRight p {
    padding-right: 1%;
    padding-top: 1.1%;
    font-size: 1.25em;
}

h1 {
    margin: 0 auto;
}

#linksHeader {
    flex: 100%;
    margin: 0 auto;
    padding: 2%
}

#linksHeader small {
    color: #645e6b;
    padding-left: 5px;
}

#linksLeft{
    flex: 50%;
    text-align: center;
    padding: 1%;
}

#linksList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: 'Roboto', sans-serif;
}

#linksRight{
    flex: 50%;
    text-align: center;
    padding: 1%;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
}

.main h1, .main2 h1 {
    font-size: 3em;
    color: #cb503c;
}

.main2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
}

#nameBar {
    /*background-color: #f1f1f1;*/
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1%;
    flex: 50%;
    text-align: left;
}

#nameBar > a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
}

#navBar {
    padding: 10px;
    flex: 50%;
    text-align: right;
    display: flex;
    align-items: center;
    font-size: 0.75em;
}

.navItem {
    margin: 0 auto;
    text-align: right;
    color: #645e6b;
}

#navMenu {
    display: none;
    visibility: hidden;
}   

p{
    font-size: 1.5em;
}

#profileImg {
    flex: 40%;
    padding-top: 7.5%;
    margin: auto;
    width: 400px;
    height: 600px;
}

.selected {
    color: white;
}

.selected:hover {
    color: white;
}

#sideImg {
    flex: 40%;
    padding: 20px;
    text-align: center;
}

strong {
    background-color: #66ddaa;
    color: white;
}
